/dconf
/eww
/go
/gtk-3.0
/htop
/KDE
/micro
/mozilla
/neofetch
/pulse
/qt6ct
/session
/spicetify
/spotify
/dolphinrc
/baloofileinformationrc
/filetypesrc
/kiorc
/mimeapps.list
/QtProject.conf
/spectaclerc
/trashrc
/zed
