@define-color background rgba(0.200, 0.247, 0.176, 0.7);
@define-color foreground #cccfca;
@define-color foreground-bright #cccfca;

@define-color color0 #333f2d;
@define-color color1 #A4A5A3;
@define-color color1-alpha rgba(0.643, 0.647, 0.639, 0.5);
@define-color color2 #C1B8B1;
@define-color color3 #B0D887;
@define-color color4 #BAE787;
@define-color color4-alpha rgba(0.729, 0.906, 0.529, 0.2);
@define-color color5 #CAEB99;
@define-color color5-alpha rgba(0.792, 0.922, 0.600, 0.2);
@define-color color6 #DBDECC;
@define-color color6-alpha rgba(0.859, 0.871, 0.800, 0.555);
@define-color color7 #cccfca;
@define-color color8 #77886f;
@define-color color9 #A4A5A3;
@define-color color10 #C1B8B1;
@define-color color11 #B0D887;
@define-color color12 #BAE787;
@define-color color12-alpha rgba(0.729, 0.906, 0.529, 0.4);
@define-color color13 #CAEB99;
@define-color color13-alpha rgba(0.792, 0.922, 0.600, 0.6);
@define-color color14 #DBDECC;
@define-color color15 #cccfca;

@define-color network-color #cccfca;
@define-color network-wifi #C1B8B1;
@define-color network-ethernet #BAE787;
@define-color network-disconnected #A4A5A3;
* {
    font-family:
        "Iosevka Nerd Font Mono", "JetBrainsMono Nerd Font", "Noto Sans",
        sans-serif;
    font-size: 13px;
    color: @foreground;
    background: transparent;
    border: none;
}

window#waybar {
    background-color: @background;
    margin: 0;
    padding: 2px 6px;
}

#workspaces button {
    background: transparent;
    color: @foreground;
    padding: 4px 8px;
    margin: 2px;
    transition: background 0.2s ease;
    border-radius: 10px;
}

#workspaces button.focused {
    background-color: @color1-alpha;
    border: 1px solid @color9;
    font-weight: bold;
    color: @foreground-bright;
}

#battery,
#network,
#cpu,
#memory,
#custom-player,
#mpris,
#custom-volume {
    padding: 4px 8px;
    margin: 2px 4px;
    background-color: @color4-alpha;
    border: 1px solid @color12-alpha;
    transition: background 0.3s ease;
    border-radius: 10px;
    color: @foreground-bright; /* Ensure text is always visible */
}

#network {
    color: @network-color; /* Dedicated color for network */
}

#network.ethernet {
    color: @network-ethernet;
}

#network.wifi {
    color: @network-wifi;
}

#clock {
    border-bottom: 1px solid @color6-alpha;
    font-weight: bolder;
    color: @color3;
}

#battery.charging {
    color: @color11;
}

#battery.critical {
    color: @color9;
    font-weight: bold;
}

#network.disconnected {
    color: @network-disconnected;
    font-weight: bold;
}

#mpris-hover,
#custom-volume:hover,
#battery:hover,
#network:hover {
    background-color: @color5-alpha;
    border-color: @color13-alpha;
}
